@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-['Raleway']
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  a {
    @apply underline
  }

  .markdown {
    @apply text-justify
  }

  .markdown li {
    @apply cursor-default ml-8
  }

  .markdown p {
    @apply mb-4
  }

  .markdown li p {
    @apply mb-2
  }

  .markdown a {
    @apply rainbow-text decoration-[#5651e5] decoration-2
  }

  .markdown a:hover {
    @apply no-underline
  }

  .markdown ul {
    @apply list-disc
  }

  .markdown h1, h2, h3, h4, h5, h6 {
    @apply mb-4 mt-6
  }
}

.rainbow-text:hover {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, rgb(191, 191, 3), orange, red);
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}
