@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');

* {
  font-family: 'EB Garamond', serif;
}

.sergiorivera {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-style: italic;
}
